<h2 mat-dialog-title>Novo anexo da solicitação</h2>

<mat-dialog-content>
  <form [formGroup]="attachmentForm">
    <div class="stepper">
      
      <!-- Linha 1: Nome do arquivo -->
      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name">
          @for (item of errorMessages['name']; track $index) {
            <mat-error [hidden]="!attachmentForm.get('name')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Linha 2: Seletor de Arquivo Anexo -->
      <div class="line cols-1-col">
        <div class="file-upload-cell">
          <input 
            type="file" 
            hidden 
            (change)="onFileSelected($event)" 
            #fileInput 
            [disabled]="isSubmitting()">
          <button 
            mat-raised-button 
            type="button" 
            [class.attached]="attachmentFile.hasFile()"
            (click)="fileInput.click()" 
            [matTooltip]="attachmentFile.label()" 
            [disabled]="isSubmitting()">
            <mat-icon>attach_file</mat-icon>
            {{ attachmentFile.hasFile() ? 'Substituir arquivo' : 'Anexar arquivo' }}
          </button>
        </div>
      </div>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [mat-dialog-close]="false" [disabled]="isSubmitting()">Fechar</button>
  <button 
    mat-flat-button 
    color="primary" 
    type="button" 
    [disabled]="attachmentForm.invalid || !attachmentFile.hasFile() || attachmentForm.pending || isSubmitting()" 
    (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      Criar
    </div>
  </button>
</mat-dialog-actions>