mat-drawer-container {
  width: 100%;
  z-index: 10;
}

mat-drawer {
  background-color: var(--md-sys-color-surface-variant);
  position: fixed;
  margin-top: 80px;
  width: 300px;
}

mat-action-list {
  width: 100%;

  button {
    // Efeito de transição suave ao passar o mouse ou ativar o link
    div.link {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 10px;
      }
    }

    // Estilização do link ativo via routerLinkActive
    &.active {
      background-color: var(--md-sys-color-primary);
      font-weight: 500; // Um leve destaque no peso da fonte do link ativo
      
      div, div mat-icon {
        color: var(--md-sys-color-tertiary-container);
      }
    }
  }
}