<h2 mat-dialog-title>Atualizar usuário</h2>

<form [formGroup]="userForm">
  <mat-dialog-content>
    
    <div class="line">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name">
        @for (item of errorMessages['name']; track $index) {
          <mat-error [hidden]="!userForm.get('name')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
    
    <div class="line double-columns">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-icon matSuffix class="locked-icon">lock</mat-icon>
        @for (item of errorMessages['email']; track $index) {
          <mat-error [hidden]="!userForm.get('email')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
      
      <!-- Container do Botão de Lotação / Tipo de Profissional -->
      <div class="types-button-container">
        <button 
          mat-flat-button 
          type="button" 
          class="select-types-btn"
          [disabled]="isSubmitting()"
          (click)="openProfessionalTypesDialog()">
          <mat-icon>workspaces</mat-icon>
          <span>LOTAÇÃO DO PROFISSIONAL</span>
        </button>

        @if (userForm.get('types')?.touched && userForm.get('types')?.hasError('required')) {
          <mat-error class="custom-error">
            Selecione ao menos um tipo de profissional.
          </mat-error>
        }
      </div>
    </div>
    
    <div class="line double-columns">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>CNS</mat-label>
        <input matInput type="text" mask="000 0000 0000 0000" formControlName="cns">
        @for (item of errorMessages['cns']; track $index) {
          <mat-error [hidden]="!userForm.get('cns')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
      
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Matrícula</mat-label>
        <input matInput type="text" mask="000000" formControlName="registration">
        @for (item of errorMessages['registration']; track $index) {
          <mat-error [hidden]="!userForm.get('registration')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
    
    <div class="line double-columns">
      <mat-form-field appearance="outline">
        <mat-label>Registro profissional</mat-label>
        <input matInput type="text" formControlName="professional_register">
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>CBO</mat-label>
        <input matInput type="text" formControlName="cbo">
      </mat-form-field>
    </div>

  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="false" [disabled]="isSubmitting()">
      Fechar
    </button>
    <button 
      mat-flat-button 
      color="primary" 
      type="button" 
      [disabled]="userForm.invalid || userForm.pending || userForm.pristine || isSubmitting()"
      (click)="onSubmit()"
      >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner [diameter]="20"></mat-spinner>
        }
        <span>Salvar alterações</span>
      </div>
    </button>
  </mat-dialog-actions>
</form>