<h2 mat-dialog-title>
  {{ isBookmark() ? 'Desmarcar sobrestado' : 'Marcar sobrestado' }}
</h2>

<mat-dialog-content>
  @if (isBookmark()) {
    <p>
      Você deseja realmente desmarcar em sobrestado a solicitação do paciente 
      <strong>{{ patientName }}</strong>?
    </p>
  } @else {
    <p>
      Você deseja realmente marcar em sobrestado a solicitação do paciente 
      <strong>{{ patientName }}</strong>?
    </p>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button 
    mat-button 
    type="button" 
    [disabled]="isSubmitting()" 
    [mat-dialog-close]="false">
    Cancelar
  </button>
  
  <button 
    mat-flat-button 
    color="primary" 
    type="button" 
    [disabled]="isSubmitting()" 
    (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <span>
        @if (isSubmitting()) {
          {{ isBookmark() ? 'Desmarcando...' : 'Marcando...' }}
        } @else {
          {{ isBookmark() ? 'Desmarcar' : 'Marcar' }}
        }
      </span>
    </div>
  </button>
</mat-dialog-actions>