@use 'variables' as *;

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - $layout-header-height);
}

section {
  margin-top: $spacing-xxl; 
  width: $page-content-width;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl; 
}

.line {
  display: grid;
  grid-template-columns: var(--grid-cols, 1fr);
  column-gap: $spacing-xxl;

  &.cols-1-1 { 
    --grid-cols: 1fr 1fr; 
  }
}